.timetable-container {
    display: flex;
    width: 100%;
    height: 600px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-left: 100px;
    padding-right: 100px;
}

.timetable-grid {
    height: 400px;
    width: 80%;
    display: grid;
    grid-template-columns: 3fr 2fr 2fr 1fr 2fr 2fr 2fr 2fr 2fr;
    grid-template-rows: repeat(6, 1fr);
    /* gap: 10px; */
}

.timetable-header {
    /* background-color: rgb(255, 135, 243); */
    font-size: larger;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 400;
    /* border: solid 1px black; */
    color: green;
    font-weight: bold;
    border-bottom: 2px solid black;
    /* border-left:2px solid black ; */
    /* border-right: 2px solid black; */
}

.timetable-week {
    /* background-color: yellow; */
    font-size: larger;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 400;
    padding: 20px;
    /* border: solid 1px black; */
    /* color: gray; */
    font-weight: bold;
    border-right: 2px solid black ;
}

.timetable-cell {
    padding: 10px;
    /* border: solid 1px black; */
    /* background-color: rgb(202, 254, 202); */
    /* border: 2px solid green; */
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-weight: 100;
    border-radius: 10px;
    margin: 7px;
    
}

.timetable-cell h3 {
    font-weight: 100;
    font-size: 15px;
    transition: all 200ms ease-in-out;
}

.timetable-cell h4 {
    transform: translateY(50px);
    transition: all 200ms ease-in-out;
}

.timetable-cell:hover > h3 {
    transform: translateY(-50px) ;
    transition: all 200ms ease-in-out;
}

.timetable-cell:hover > h4 {
    transform: translateY(-50px);
    transition: all 200ms ease-in-out;
}