.simplest-wrapper {
  height: 100vh;
  background-color: var(--black-2);
  display: flex;
  flex-direction: column;
}

.simplest-header {
  height: 5vh;
  width: 100%;
  background-color: var(--black-3);
  border-bottom: 1px solid var(--black-5);
  display: flex;
  align-items: center;
  padding-left: 20px;
}

.simplest-header > span {
  color: var(--main-green);
  font-size: 13px;
  font-weight: 100;
  cursor: pointer;

  transition: all 100ms linear;
}

.simplest-header > span:hover {
  background-color: var(--main-green);
  color: black;
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 5px;
}

.simplest-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  position: relative;
}

.simplest-content::before {
  --size: 0;
  content: "";
  position: absolute;
  left: var(--x);
  top: var(--y);
  width: var(--size);
  height: var(--size);
  background: radial-gradient(
    circle closest-side,
    rgba(37, 37, 37, 0.5),
    transparent
  );
  transform: translate(-50%, -50%);
  transition: width 0.2s ease, height 0.2s ease;
  pointer-events: none;
  z-index: 1;
}

.simplest-content:hover::before {
  --size: 500px;
}

.simplest-content-header {
  height: 5vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
  z-index: 2;
}

.simplest-content-header-left {
  flex: 1;
  display: flex;
  align-items: center;
  height: 100%;
}

.simplest-content-header-right {
  flex: 1;
  display: flex;
  align-items: center;
  height: 100%;
  justify-content: end;
}

.simplest-header-right-items {
  display: flex;
  align-items: center;
  justify-content: end;
  width: 50%;
  gap: 30px;
}

.simplest-header-right-item {
  /* flex: 1; */
  color: var(--black-17);
  font-size: 13px;
  font-weight: 100;
  cursor: pointer;
}

.simplest-content-body {
  flex: 1;
  display: flex;
  padding: 50px;
  align-items: center;
  justify-content: center;
}

.simplest-content-footer {
  height: 7vh;
  display: flex;
  align-items: center;
  justify-content: end;
  width: 90%;
  z-index: 1;
  /* background-color: red; */
}

.simplest-content-footer > button {
  background-color: var(--main-green);
  border: none;
  padding: 10px;
  padding-left: 25px;
  padding-right: 25px;
  border-radius: 5px;
  font-size: 13px;
  cursor: pointer;
  transition: all 200ms linear;
}

.simplest-content-footer > button:hover {
  scale: 1.05;
  transition: all 200ms linear;
}

@media (max-width: 500px) {

  .simplest-content {
    position: static;
    height: 100%;
  }

  .simplest-content::before {
    --size: 0;
    content: "";
    position: absolute;
    left: var(--x);
    top: var(--y);
    width: var(--size);
    height: var(--size);
    background: radial-gradient(
      circle closest-side,
      rgba(37, 37, 37, 0.5),
      transparent
    );
    transform: translate(-50%, -50%);
    transition: width 0.2s ease, height 0.2s ease;
    pointer-events: none;
    z-index: 1;
    display: none;
  }
  
  .simplest-content:hover::before {
    --size: 500px;
  }
  .simplest-header {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px;
    height: 7vh;
    max-width: 100%;
  }

  .simplest-content-header {
    flex-direction: column;
    height: 7vh;
  }

  .simplest-content-header-right {
    width: 100%;
    min-height: 7vh;
  }

  .simplest-header-right-items {
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: space-evenly;
  }

  .simplest-content-body {
    padding: 10px;
  }

  .simplest-content-footer {
    position: absolute;
    bottom: 0;
  }
}
