.sd-container {
    display: flex;
    flex-direction: column;
    /* background-color: black; */
    /* background-color: blue; */
    padding: 20px;
    padding-bottom: 0px;
}

.week-container {
    display: flex;
    /* background-color: yellow; */
    padding: 20px;
    padding-bottom: 10px;
    gap: 20px;
    transition: all 200ms ease-in-out;
}

.month-container {
    display: flex;
    background-color: pink;
    padding: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 20px;
    gap: 20px;
    transition: all 200ms ease-in-out;
}

.delete {
    opacity: 0; 
    visibility: hidden; 
    transition: opacity 200ms ease-in-out, visibility 200ms ease-in-out;
}

.month-container:hover .delete {
    opacity: 1; 
    visibility: visible; 
}
 
.day-container {
    display: flex;
    background-color: white;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    padding: 5px;
}


/* .substitution-wrapper {
    background-color: black;
} */