.content-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow: scroll;
  overflow-x: hidden;
}

.content-header {
  display: flex;
  height: 7vh;
  max-height: 7vh;
  z-index: 2;
}

.content-header-left {
  height: 100%;
  flex: 4;
  display: flex;
  align-items: center;
}

.header-left-searchbox {
  padding-left: 20px;
  width: 80%;
  flex: 0.95;
}

.header-left-search {
  border: 1px solid var(--black-7);
  display: flex;
  border-radius: 10px;
  padding: 10px;
  padding-right: 10px;
  width: 100%;
}

.header-left-search > svg {
  height: 20px;
  width: 20px;
}

.header-left-search > svg > path {
  stroke: var(--black-17);
}

.header-left-search > input {
  background-color: transparent;
  flex: 1;
  border: none;
  color: var(--black-17);
}

.header-left-search > input:focus {
  outline: none;
}

.content-header-left > p {
  padding: 0px;
  margin: 0px;
  border: 0px;
  color: var(--black-17);
}

.content-header-right {
  padding-right: 30px;
  flex: 2;
}

.header-right-items {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 20px;
}

.header-right-item {
  display: flex;
  height: 3vh;
  flex: 1;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 5px;
  cursor: pointer;
  background-color: var(--black-3);
  border: 1px solid var(--black-7);
  border-radius: 10px;
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
}

.header-right-item > svg {
  height: 13px;
  width: 13px;
}

.header-delete-icon {
  fill: var(--main-green);
  transform: translateY(-1px);
}

.header-edit-icon > g > g > g > path {
  stroke: var(--main-green);
}

.header-edit-icon > g > g > g > polygon {
  stroke: var(--main-green);
}

.header-hide-icon > g > path {
  stroke: var(--main-green);
}

.header-new-icon > path {
  stroke: var(--black-2);
}

.header-right-item.add {
  background-color: var(--main-green-dark);
  border: 1px solid var(--black-1);
}

.header-right-item.add > span{
  color: var(--black-2);
}

.header-right-item > span {
  font-size: 13px;
  color: var(--black-17);
}

.content-subcard-wrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: scroll;
  overflow-x: hidden;
}

.content-subcard-header {
  height: 7vh;
}

.content-footer {
  height: 7vh;
  /* border-top: 1px solid var(--black-7); */
}

.header-left-button, .header-right-item.mobile {
  display: none;
}


@media (max-width: 500px) {

    .content-header {
      justify-content: start;
      flex-direction: column;
      height: 10vh;
      /* align-items: center;
      justify-content: center; */
      overflow: hidden;
      overflow-x: hidden;
    }

    .content-header-switch {
      transform: translateY(-7vh);
    }

    .content-header-left {
      min-height: 100%;
      width: 100%;
      transition: all 200ms ease-in-out;
    }

    .header-left-searchbox {
      flex: 8;
      padding: 0px;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .header-left-search {
      width: 80%;
      max-height: 20px;
    }

    .header-left-button {
      flex: 2;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      color: var(--black-17);
      font-size: 30px;
    }

    .header-left-button > span {
      transform: rotate(-90deg)
    }

    .content-header-right {
      min-height: 100%;
      display: flex;
      padding: 0px;
      transition: all 200ms ease-in-out;
    }

    .header-right-items {
      width: 100%;
      padding-left: 20px;
      padding-right: 20px;
    }

    .header-right-item.mobile {
      display: flex;
      color: var(--black-17);
      font-size: 13px;
    }
  

  }

