

.home-main {
    height: 100vh;
    background-color: var(--black-2);
    display: flex;
    flex-direction: row;
}

.home-sidebar {
    height: 100vh;
    width: 15vw;
    border-right: 1px solid var(--black-7);
    background-color: var(--black-3);
}

.home-sidebar-header {
    height: 5vh;
    max-width: 15vw;
    background-color: var(--black-3);
    border-bottom: 1px solid var(--black-7);
    color: rgb(166, 166, 166);
    padding-left: 20px;
    display: flex;
    justify-content: start;
    align-items: center;
}

.home-sidebar-items {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
}

.home-sidebar-searchbox {
    width: 15vw;
    max-width: 15vw;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid var(--black-7);
}

.home-sidebar-search {
    background-color: black;
    height: 2.5vh;
    width: 13vw;
    max-width: 12vw;
    border: 1px solid var(--black-7);
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 10px;
    border-radius: 5px;
    background-color: var(--black-4);
    color: var(--black-8);
    font-size: small;
}

.home-sidebar-filters {
    height: 15vh;
    max-width: 15vw;
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 15vw;
}

.home-sidebar-filter {
    height: 4vh;
    min-width: 13vw;
    max-width: 15vw;
    padding-left: 2vw;
    display: flex;
    align-items: center;
    color: var(--black-16);
    font-weight: lighter;
    font-size: 15px;
    cursor: pointer;
}

.home-sidebar-filter-options {
    max-width: 15vw;
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 15vw;
    background-color: var(--black-1);
    border-top: 1px solid var(--black-7);
    
}

.home-sidebar-filter-option {
    min-height: 4vh;  
    width: 15vw;
    max-width: 15vw;
    padding-left: 2vw;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    color: var(--black-13);
    font-weight: lighter;
    font-size: 13px;
    cursor: pointer;
}

.home-sidebar-filter-suboption {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    padding-left: 30px;
    display: none;
}

.home-sidebar-filter-option h3 {
    font-weight: lighter;
    font-size: 13px;
}

.home-sidebar-item {
    /* border-top: 1px solid var(--black-7);
    margin: 0px;
    margin-top: 20px;
    padding-left: 15px;
    color: var(--black-16);
    font-weight: 300;
    width: 15vw;
    max-width: 15vw;
    height: 3vh;
    display: flex;
    align-items: center; */
}
  
.home-content {
    width: 85vw;
    background-color: var(--black-2);
}

.home-content-header {
    width: 85vw;
    height: 5vh;
    background-color: var(--black-3);
    border-bottom: 1px solid var(--black-7);
    display: flex;
    align-items: center;
}

.home-content-header-left {
    flex: 1;
}
.home-content-header-right {
    flex: 1;
}
.home-content-header-last {
    position: relative;
    height: 100%;
    width: 4vw;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-left: 1px solid var(--black-7);
}

.home-content-header-last:hover .home-content-header-last-hover {
    visibility: visible;
    opacity: 1;
    filter: blur(0px);
    transition: all 500ms ease-in-out;
}

.home-content-header-last-hover {
    visibility: hidden; 
    opacity: 0; 
    filter: blur(10px);
    position: absolute;
    height: 5vh;
    background-color: black;
    width: 15vw;
    border: 1px solid var(--black-4);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 6vh;
    right: 1vw;
    transition: all 500ms ease-in-out;
    color: var(--black-7);
}


  