.header {
    height: 50px;
    width: 100vw;
    display: flex;
    background-color: black;
}

.profile {
    height: 100%;
    width: 100%;
    flex: 1;
    display: flex;
    align-items: center;
    padding-left: 20px;
    gap: 20px;
}

.profile-image {
    height: 30px;
    width: 30px;
    border-radius: 50px;
    background-color: white;
}

.profile-name {
    color: white;
}

.menu-items {
    color: white;
    /* border: 2px solid white; */
    display: flex;
    flex: 2;
    align-items: center;
    justify-content: end;
    padding-right: 20px;
    gap: 20px;
}

.menu-item > svg {
    height: 20px;
    width: 20px;
}

.logout {
    cursor: pointer;
}

