.header {
    height: 5vh;
    width: 100vw;
    display: flex;
    background-color: black;
}

.profile {
    height: 100%;
    width: 100%;
    flex: 1;
    display: flex;
    align-items: center;
    padding-left: 20px;
    gap: 20px;
}

.profile-image {
    height: 30px;
    width: 30px;
    border-radius: 50px;
    background-color: white;
}

.profile-name {
    color: white;
}

.menu-items {
    color: white;
    /* border: 2px solid white; */
    display: flex;
    flex: 2;
    align-items: center;
    justify-content: end;
    padding-right: 20px;
    gap: 20px;
}

.menu-item > svg {
    height: 20px;
    width: 20px;
}

.logout {
    cursor: pointer;
}

.main {
    background-color: gray;
    height: 95vh;
    width: 100vw;
}

.pheader {
    width: 100%;
    height: 5vh;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;
}

.pheader-item {
    color: white;
    font-size: 20px;
    font-weight: 400;
    width: 200px;
    display: flex;
    justify-content: center;
    cursor: pointer;
    transition: all 200ms ease-in-out;
}

