.cal-calender {
  width: 600px;
  height: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  border-radius: 20px;
  overflow-y: scroll;
  padding-left: 10px;
  padding-right: 10px;
}

.cal-header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: black;
  color: white;
  border-radius: 20px;
  padding-left: 20px;
  padding-right: 20px;
  }

.cal-days {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  text-align: center;
  width: 100%;
}

.cells {
  width: 100%;
  text-align: center;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 10px;
}

.cell {
  padding: 20px;
  background-color: rgb(231, 231, 231);
  border-radius: 10px;
}

.cell.disabled {
  display: none;
}

.cell.selected {
  background-color: red;
  color: white;
}

.day {
  cursor: pointer;
}

.week > h3 {
  cursor: pointer;
}

.month > h2 {
  cursor: pointer;
}

