.cst-wrapper {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: var(--black-2);
}

.cst-header {
  display: flex;
  width: 100%;
  height: 5vh;
  border-bottom: 1px solid var(--black-5);
  background-color: var(--black-3);
  color: var(--main-green);
  align-items: center;
  padding-left: 20px;
}

.cst-body {
  flex: 1;
  display: flex;
  flex-direction: row;
}

.cst-sidebar {
  height: 100%;
  flex: 2;
  border-right: 1px solid var(--black-5);
}

.cst-content {
  position: relative;
  flex: 8;
  display: flex;
  flex-direction: column;
  height: 100%;
  color: var(--black-17);
  gap: 20px;
  overflow: scroll;
}

.cst-content::before {
  --size: 0;
  content: "";
  position: absolute;
  left: var(--x);
  top: var(--y);
  width: var(--size);
  height: var(--size);
  background: radial-gradient(
    circle closest-side,
    rgba(34, 33, 33, 0.5),
    transparent
  );
  transform: translate(-50%, -50%);
  transition: width 0.2s ease, height 0.2s ease;
  pointer-events: none;
  z-index: 1;
}

.cst-content:hover::before {
  --size: 500px;
}

.cst-content-header {
  height: 5vh;
  display: flex;
  z-index: 2;
}

.cst-content-items {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  padding-left: 40px;
  padding-right: 40px;
  gap: 20px;
  z-index: 2;
}

.cst-content-item {
  display: flex;
  width: 100%;
  height: 10vh;
  border: 1px solid var(--black-5);
  background-color: var(--black-3);
  align-items: center;
  justify-content: space-evenly;
  padding-left: 20px;
  border-radius: 10px;
}

.cst-navbar {
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: end;
  padding-right: 100px;
}

.cst-navbar > span {
  background-color: var(--main-green);
  color: black;
  font-size: 13px;
  padding: 10px;
  padding-left: 30px;
  padding-right: 30px;
  border-radius: 5px;
  cursor: pointer;
}
