@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";


:root {
  --black-1: rgb(10, 10, 10);
  --black-2: rgb(20, 20, 20);
  --black-3: rgb(30, 30, 30);
  --black-4: rgb(40, 40, 40);
  --black-5: rgb(50, 50, 50);
  --black-6: rgb(60, 60, 60);
  --black-7: rgb(70, 70, 70);
  --black-8: rgb(80, 80, 80);
  --black-9: rgb(90, 90, 90);
  --black-13: rgb(130, 130, 130);
  --black-16: rgb(160, 160, 160);
  --black-17: rgb(170, 170, 170);
  --black-23: rgb(230, 230, 230);
  --main-green: rgb(0, 205, 137);
  --main-green-dark: rgb(1, 147, 99);

  background-color: var(--black-3);

  --darkmode-text: rgb(170, 170, 170);
  --darkmode-margin: rgb(60, 60, 60);
  --darkmode-background-light: rgb(40, 40, 40);
  --darkmode-background-dark: rgb(30, 30, 30);

  --mobile-fontsize-small: 2.5vw;
}

.body {
  font-family: "Roboto", serif;
}

h1 {
  font-size: 3.2em;
  padding: 0px;
  margin: 0px;
  border: 0px;
}

h2 {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

.pb-green {
  color: var(--black-1);
  background-color: var(--main-green);
  padding: 6px;
  padding-left: 13px;
  padding-right: 13px;
  font-size: 15px;
  cursor: pointer;
  border-radius: 3px;
  transition: all 200ms ease-in-out;
}

/* .pb-green:hover {
  transform: translateY(-5px);
  background-color: var(--main-green-dark);
  color: var(--black-23);
} */

.pb{
  color: var(--black-17);
  background-color: var(--black-5);
  padding: 6px;
  padding-left: 13px;
  padding-right: 13px;
  font-size: 15px;
  cursor: pointer;
  border-radius: 3px;
  border: 1px solid var(--black-7);
  transition: all 200ms ease-in-out;
}

.header {
  @apply fixed bottom-0 md:left-0 
  border-t-1 border-[rgb(70,70,70)] md:border-t-0 md:border-r-1
  h-[7vh] w-[100%] md:h-[100%] md:w-[100px] 2xl:w-[15vw]
  flex flex-row justify-center items-center
}

/* .pb:hover{
  transform: translateY(-5px);
  background-color: var(--black-);
} */
