@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --black-1: rgb(10, 10, 10);
  --black-2: rgb(20, 20, 20);
  --black-3: rgb(30, 30, 30);
  --black-4: rgb(40, 40, 40);
  --black-5: rgb(50, 50, 50);
  --black-6: rgb(60, 60, 60);
  --black-7: rgb(70, 70, 70);
  --black-8: rgb(80, 80, 80);
  --black-9: rgb(90, 90, 90);
  --black-13: rgb(130, 130, 130);
  --black-16: rgb(160, 160, 160);
  --black-17: rgb(170, 170, 170);
  --main-green: rgb(0, 205, 137);
  --main-green-dark: rgb(1, 147, 99);

  background-color: var(--black-3);
}

.body {
  font-family: "Roboto", serif;
}

h1 {
  font-size: 3.2em;
  padding: 0px;
  margin: 0px;
  border: 0px;
}

h2 {
  padding: 0px;
  margin: 0px;
  border: 0px;
}
