.home-main {
  height: 100vh;
  background-color: var(--black-2);
  display: flex;
  flex-direction: row;
}

.home-sidebar {
  height: 100vh;
  width: 15vw;
  display: flex;
  flex-direction: column;
  border-right: 1px solid var(--black-5);
  background-color: var(--black-3);
}

.home-sidebar-header {
  height: 5vh;
  min-height: 5vh;
  max-width: 15vw;
  background-color: var(--black-3);
  border-bottom: 1px solid var(--black-5);
  color: var(--black-17);
  padding-left: 25px;
  display: flex;
  justify-content: start;
  align-items: center;
}

.home-sidebar-items {
  height: 100%;
  width: 100%;
}

.home-sidebar-item {
  width: 100%;
  min-height: 5vh;
  border-bottom: 1px solid var(--black-5);
  overflow: hidden;
}

.sidebar-item-searchbox {
  height: 7vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sidebar-item-search {
  width: 80%;
  height: 3vh;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  border: 1px solid var(--black-7);
  border-radius: 10px;
  transition: all 200ms ease-in-out;
}

.sidebar-item-search:hover {
  border: 1px solid var(--black-17);
  transition: all 200ms ease-in-out;
}

.sidebar-item-search:focus {
  border: 1px solid var(--black-17);
  transition: all 200ms ease-in-out;
}

.sidebar-item-search > input {
  background-color: transparent;
  border: none;
  color: var(--black-17);
}

.sidebar-item-search > input:focus {
  outline: none;
}

.sidebar-item-filters {
  height: 7vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.sidebar-item-filter {
  height: 6vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  cursor: pointer;
  transition: all 200ms ease-in-out;
}

@keyframes svgAnim {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-5px);
  }
  100% {
    transform: translateY(0px);
  }
}

.sidebar-item-filter > svg {
  height: 20px;
  width: 20px;
  transition: all 200ms ease-in-out;
}

.item-filter-svg-anim {
  animation: svgAnim 200ms ease-in-out;
}

.sidebar-item-filter > svg > path {
  transition: all 200ms ease-in-out;
}

.sidebar-item-filter > h3 {
  font-size: 10px;
  font-weight: 100;
  color: var(--black-17);
  padding: 0px;
  margin: 0px;
  border: 0px;
}

.home-sidebar-footer {
  border-top: 1px solid var(--black-6);
  min-height: 7vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 15px;
  font-weight: lighter;
  color: var(--black-17);
}

.home-sidebar-footer > h3{
  font-size: 15px;
  font-weight: lighter;
  color: var(--black-17);
}

.home-content {
  width: 85vw;
  position: relative;
  background-color: var(--black-2);
  overflow: hidden; /* Ensures the gradient doesn't spill outside */
}

.home-content::before {
  --size: 0; 
  content: "";
  position: absolute;
  left: var(--x); 
  top: var(--y); 
  width: var(--size); 
  height: var(--size);
  background: radial-gradient(
    circle closest-side,
    rgba(26, 26, 26, 0.5), 
    transparent 
  );
  transform: translate(-50%, -50%); 
  transition: width 0.2s ease, height 0.2s ease; 
  pointer-events: none; 
  z-index: 1;
}

.home-content:hover::before {
  --size: 500px; 
}


.home-content-header {
  width: 85vw;
  height: 5vh;
  background-color: var(--black-3);
  border-bottom: 1px solid var(--black-5);
  display: flex;
  align-items: center;
}

.home-content-header-left {
  flex: 1;
}
.home-content-header-right {
  flex: 1;
}
.home-content-header-last {
  position: relative;
  height: 100%;
  width: 4vw;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-left: 1px solid var(--black-5);
}

.home-content-header-last:hover .home-content-header-last-hover {
  visibility: visible;
  opacity: 1;
  filter: blur(0px);
  transition: all 500ms ease-in-out;
}

.home-content-header-last-hover {
  visibility: hidden;
  opacity: 0;
  filter: blur(10px);
  position: absolute;
  height: 5vh;
  background-color: black;
  width: 15vw;
  border: 1px solid var(--black-4);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 6vh;
  right: 1vw;
  transition: all 500ms ease-in-out;
  color: var(--black-7);
}


